
 .mainContainer {
  width: 100vw;
  height: 100vh;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 500px;
  height: 350px;
  background-color: #FF5A60;
  color: white;
  text-align: center;
  display: block;

  padding: 50px 30px;
}

.container h1 {
  font-size: 3rem;
  font-weight: bold;
}
.container img {
  width: 150px;
  height: 100px;
  margin-top: 20px;

} 


